@model IEnumerable<BreakOutGame.Models.Domain.BoBSession>
@{
    ViewData["Title"] = "ListSessions";
}

<h2>ListSessions</h2>
@foreach(var item in Model)
{
    <tr>
        <td>
            <p>@item.name</p>
            
            <form method="post" asp-action="StartSession" asp-route-sessionId="@item.Id">
               
                <button class="btn btn-primary" type="submit">Start</button>-
            </form>
        </td>
    </tr>
}
