@model IEnumerable<BreakOutGame.Models.Domain.BoBSession>
@{
    ViewData["Title"] = "ListSessions";
}

<div class="row">
    <h3 class="fixer">Sessions</h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="row sessiesGoedzetten">
            <tr>
                <td>
                    <p>@item.Id</p>
                    <p>@item.name</p>
                    <p>@item.SessionStatus</p>
                    <form method="post" asp-action="ActivateSession" asp-route-sessionId="@item.Id">
                        <button class="btn btn-primary" type="submit">Toon Details sessie</button>
                    </form>
                </td>
            </tr>
        </div>
    }
