
@{
    ViewData["Title"] = "SessionCodeScreen";
}

<h2>SessionCodeScreen</h2>
<label>session</label>

<form method="post" asp-action="control">
    <label>Sessiecode</label>
    <input name="id">
    <button class="btn btn-primary" type="submit">Controleer</button>
</form>