@model IEnumerable<BreakOutGame.Models.Domain.BoBGroup>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    @foreach (var group in Model)
    {
        <div>
            <p>@group.GroupName</p>
            <ul>
                @foreach (var groupStudent in group.Students)
                {
                   
                    <li>@groupStudent.Student.FirstName @groupStudent.Student.LastName</li>
                }
            </ul>
            <a asp-action="WaitScreen" asp-route-id="@group.Id">Kies deze groep</a>
            <a asp-action="Index">Test</a>
        </div>
    }
</div>
