body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.overlay {
    position: absolute;
    background: yellow;
}
.groupselected {
    opacity: 0.4;
}
.groupnotselected {
    
}
.grouplist > .groupparent:nth-child(odd){
    clear: left;
}
.groupparent {
    
}
.group {
    padding: 20px;
    border-style: solid;
    border-color: rgb(201, 202, 204);
    border-width: 1px;
   
    margin: 10px;
    margin-left: 0px;
    box-sizing: border-box;
}
.groupnotselected:hover {
  
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -o-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.03);
   
}
.groupmemberlist {
    padding-left: 15px;
    padding-top: 10px;
}
.groupimg {
    max-width: 100%;
    max-height: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
