@model BreakOutGame.Models.Domain.Assignment
@{
    ViewData["Title"] = "Index";
}

<h2>WaitScreen</h2>
<p>@Model</p>
<div>
    <div>
        <div>
            <h4> @Model.Exercise.Name</h4>
            
            <div id="pdf">
                <object width="600" height="500" type="application/pdf" data="pdf/@Model.Exercise.PDF?#zoom=60&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
                    <p>Insert your error message here, if the PDF cannot be displayed.</p>
                </object>
            </div>
            <h3>@Model.GroupOperation.AssignmentString</h3>
            <form method="post" asp-action="ValidateAnswer">
                <label>Antwoord</label>
                <input name="answer" type="text">
                <button class="btn btn-primary" type="submit">Controleer</button>
            </form>
        </div>
    </div>
</div>