@model BreakOutGame.Models.Domain.Assignment
@{
    ViewData["Title"] = "Oefening";
    var bobgroup = (ViewData["groep"] as BreakOutGame.Models.Domain.BoBGroup);
}

<h2>WaitScreen</h2>
<p>@Model</p>
<div>
    <div>
        <div>
           <h4> @Model.Exercise</h4>
        </div>
    </div>
</div>